
body{
    overflow-x: hidden;
    margin:0;
    padding:0
}
.cont{
    height: 100vh;
}
.sideBar{
    height: 100%;
    /* display: none; */
}
.bg_color{
    background-color: #F18701;
}
.text_color{
    color:#F18701;
}
.Sidebar-border{
    border-right: 4px solid #F18701;
}
.logout{
    /* height: 100%; */
    margin-top: 300px ;
    /* display: none; */
}
.skeleton-loader {
    background-color: white; /* Placeholder background color */
    border-radius: 4px; /* Rounded corners for the placeholders */
    overflow: hidden; /* Hide overflowing content */
  }
  
  .skeleton-line {
  
    margin: 8px 0; /* Margin between lines */
    background: linear-gradient(90deg, rgba(241, 135, 1, 0.10) 25%, rgba(225,225,225,.1) 50%, rgba(241, 135, 1, 0.10) 75%); /* Shimmering animation effect */
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite; /* Animation duration and repetition */
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  
  .pendingOrder{
    width: 100%;
    max-width: 160%;
    overflow-x: scroll
    ;
  }
  .loginpage{
      display: flex;
      flex-direction: row;
      height: 100vh;
      width: 100%;
  }
  .LoginPage1{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: #F18701;
  }
  .LoginPage2{
    display: flex;
    width: 50%;  
    height: 100%;
    background-color: white;
  }
  .parentLoginStyle{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    top:80px;
    left: -60px
  }
  .loginStyle1{
    width:340.56px;
    height:130.56px;
    /* left:3.80px; */
    top: 0px;
    position: absolute;
    transform: rotate(60.38deg);
    transform-origin: 0 0;
    border-radius: 60.91px; 

    border:20.45px #F6AF56 solid
  }
  .loginStyle2{
    width:130.54px;
    height:340.56px;
    /* left:0px; */
    top: 14.33px;
    position: absolute;
    border-radius: 60.91px; 
    border: 20.45px #F6AF56 solid;
    transform: rotate(35.38deg);

    
  }

  